<?xml version="1.0"?>
<config>
    <modules>
        <EdmondsCommerce_LogApi>
            <version>0.1.0</version>
        </EdmondsCommerce_LogApi>
    </modules>
    <global>
        <helpers>
            <edmondscommerce_logapi>
                <class>EdmondsCommerce_LogApi_Helper</class>
            </edmondscommerce_logapi>
        </helpers>
    </global>
    <frontend>
        <routers>
            <api>
                <args>
                    <modules>
                        <edmondscommerce_logapi before="Mage_Api">EdmondsCommerce_LogApi</edmondscommerce_logapi>
                    </modules>
                </args>
            </api>
        </routers>
    </frontend>
</config>